*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html{
	font-size:62.5%;
}
body{
  width: 100%; 
  margin:0 auto;  
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  background:#f0f0f0;  
  font-weight:400;   
   box-sizing:border-box;
   font-size:1.6rem;
}
header{
  position: fixed;
  top: 0;  
  padding: .5rem;
  background-color:#CDB44F;  
  width: 100%;  
  z-index: 999;  
}
.small-text{
	font-size: 3rem;
}

.plogo{
  margin: 0;
  padding: 0;   
}
.stick {
	position: fixed;	
	z-index:400;	
}
.hyt{
	height:40rem;
}

/*home*/
.menu{
  margin: .5rem;
  font-size: 2.6rem;    
}
.sidenav{
  padding: 2rem;
}
div#box {
  display: table;   
  width: 40rem;  
  margin: 5rem auto 0;
}
div#box div.cell {
  display: table-cell;
}
div#box div.cell:last-child { 
  width: .1rem;
}
/*main*/
.slides li .caption h1,h5, p {
  text-align: center;
  color: #fff;
  margin: .5rem auto;
  max-width: 70rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 2.4rem 0;
}
.slides li .caption h1:after {
    content:' ';
    display:block;
    border:.2rem solid #d0d0d0;   
    border-radius:.2rem;
    -webkit-border-radius:.4rem;
    -moz-border-radius:.4rem;
    box-shadow:inset 0 .1rem .1rem rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 .1rem .1rem rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 .1rem .1rem rgba(0, 0, 0, .05);
}
/*slider*/
.slider .indicators .indicator-item {
  background-color: #666666;
  border: .3rem solid #ffffff;
  -webkit-box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color:#CDB44F;
}
.slider {
  width: 95rem;
  margin: 7rem auto;
}
.slider .indicators {
  bottom: 6rem;
  z-index: 100;
  /* text-align: left; */
}
.btnc {
	border: .2rem solid white;
	border-radius: .6rem;
	background-color: transparent;
	padding: 1.4rem 2.8rem;	
	font-size: 1.6rem;
	cursor: pointer;	
	color: white;
	margin:4rem 0;
}

/*business*/
/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 .5rem;
}

.eview {
	margin: 0 -.5rem;
}

	/* Clear floats after the columns */
	.eview:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Clear floats after the columns */
.eview:after {
		content: "";
		display: table;
		clear: both;
	}
.bgr{
	padding:1.6rem;
	border-radius: 1.8rem;
}
.business p{
  font-size: 1.7rem; 
  padding: 2rem 0;
  margin: 1.8rem 0; 
} 
.business img{
  padding: 1rem 0 0 0;
} 
.nunu{
	width:90%;
	margin:3rem auto;
	background-image:linear-gradient(to right,rgba(205,180,75,0.9),rgba(255,128,128,0.8)),url("business.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
	background-size:contain;
    padding:2rem;
}
.prim{ color:#CDB44F;}
.bocs{
  width:100%;
  padding: .8rem;
  margin: 2rem auto;
}
.base{
  width: 100%; 
  padding:0 2rem;
  margin: 8rem 0 0 0;
}

.conplus{
  border-left: 3rem solid #CDB44F;
}
/*eventview*/

 .content {	
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;	
	padding: 2rem;
}
/*create*/
.card{
  margin: 1.1rem auto; 
  
}
.cardbox{
  width: 100%;
  height: 35rem;
  overflow: hidden;
  margin: 2.6rem 1.6rem;
  padding: 1.6rem 1.6rem 0 12.6rem;  
  background: white;
}
.card-title{
  padding: .5rem;
}
.pfp{
  padding: 1rem 2.5rem;
  line-height:3rem;
  font-size: 2.2rem;
}
ol li:hover{
  color:#CDB44F; 
  
}
/*event form*/
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #CDB44F !important;
   }
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: .1rem solid #CDB44F !important;
     box-shadow: 0 .1rem #CDB44F !important;
   }
.input-field materialize-textarea:focus + label {
	color: #CDB44F !important;
}
/* label underline focus color */
.input-field materialize-textarea:focus {
	border-bottom: .1rem solid #CDB44F !important;
	box-shadow: 0 .1rem #CDB44F !important;
}
  /* label focus color */
.input-field input[type=email]:focus + label {
     color: #CDB44F !important;
   }
   /* label underline focus color */
.input-field input[type=email]:focus {
     border-bottom: .1rem solid #CDB44F !important;
     box-shadow: 0 .1rem #CDB44F !important;
   }
  /* label focus color */
.input-field input[type=number]:focus + label {
     color: #CDB44F !important;
   }
   /* label underline focus color */
.input-field input[type=number]:focus {
     border-bottom: .1rem solid #CDB44F !important;
     box-shadow: 0 .1rem #CDB44F !important;
   }
  /* label focus color */
.input-field input[type=password]:focus + label {
     color: #CDB44F !important;
   }
   /* label underline focus color */
.input-field input[type=password]:focus {
     border-bottom: .1rem solid #CDB44F !important;
     box-shadow: 0 .1rem #CDB44F !important;
   }
  /* label focus color */
.input-field input[type=date]:focus + label {
     color: #CDB44F !important;
   }
   /* label underline focus color */
.input-field input[type=date]:focus {
     border-bottom: .1rem solid #CDB44F !important;
     box-shadow: 0 .1rem #CDB44F !important;
   }
.wrapper{
  width: 95%;
  margin:2rem auto;   
  display: flex;
  flex-direction: column;
}
.wrapp{
   width: 95%;
   margin:2rem auto; 
   padding: 2rem;
}
.wrup {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
}
#test1{
	margin: -3rem 0 0 0;
	padding: 0;
}
.box{
  width: 100%;
  margin: 0 1rem 0 5.6rem;
  padding: 1.6rem;
}
.evtbox {
  width: 40rem;
  padding: 3rem;
  width: auto;
  margin: 4rem auto;
  position:relative;
}
ul.item li a{
	font-size:4rem;
}
/*created event card*/
.eventcontainer {
  margin-top: 3rem;
  max-width: 95rem;
}
.evtcontainer {
	margin-top: 3rem;
	width: 100%;
	padding: 0;
}
.rw{
	padding: 0;
}
.evtcard {
  overflow: auto;
}
.subheader {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0.75rem 1.6rem;
}
.list-divider {
  border: 0;
  height: .1rem;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-right: 1.6rem;
  margin-left: 7.5rem;
}
.licth{
	background:#CDB44F;
	padding:1rem;
	width:100%;
}
.lict{
	font-size:2rem;
}

.list {
  margin: 0;
}

.list li {
  padding: 0 1.6rem;
}

.list li .valign-wrapper {
  min-height: 7.2rem;
}

.list i.circle {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.26);
}

.list .title span {
  color: rgba(0, 0, 0, 0.54);
}

.ml-auto {
  margin-left: auto;
}

i.ml-auto {
  color: rgba(0, 0, 0, 0.26);
}
//////////////////////////////////////


.flex-container {
  display:flex;
  flex-wrap:wrap;  
  margin: 9rem auto;
  padding: 3rem;
}
.flip-box {
  background-color: transparent;
  width: 2rem;
  height: 25rem;
  border: .1rem solid #f1f1f1;
  margin: 3rem 0;
  perspective: 100rem;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
	background-image: linear-gradient(-90deg,#CCC39E,#CDB44F);
	color: black;
}

.flip-box-back {
  background-color: dimgrey;
  color: white;
  transform: rotateY(180deg);
  padding:0;
}



.bg-image {
	/* The image used */
	background-image: url("evt.jpg");
	/* Add the blur effect 
	filter: blur(4px);
	-webkit-filter: blur(4px);*/ 
	z-index:-1;
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	left: 50%;
	transform: translate(-50%, -10%);
	z-index: 900;
	width: 70%;
	padding: 20px;
	text-align: center;	
}
.carousel-item img {
	object-fit: contain;
}
.pagination li.active {
	background-color: #e6c964;
}
/*footer*/
.footer-bs {
   background-image: linear-gradient(-90deg,#CCC39E,#CDB44F);
    padding: .5rem;
    color:black;   
    border-bottom-right-radius: .6rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: .6rem;
    font-size: 2rem;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding: .6rem .5rem; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0 0 1rem; font-size: 2rem;}
.footer-bs .footer-brand p { font-size:1.2rem; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:.5rem 0;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom:.5rem;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0; }
.footer-bs .footer-nav ul.list li { padding:.5rem 0;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0; }
.footer-bs .footer-social h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
.footer-bs .footer-social li { padding:.5rem .4rem;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}
.footer-bs .footer-ns p { font-size:1.5rem; color:rgba(255,255,255,0.70); 
}

/*
@media only screen and (max-width: 360px) {
h1 {
  margin: 0 0 2rem 0;
  font-weight: 300;
  font-size: 2.8rem;
}
.btn{margin:.6rem;}*/  
      
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

html,body,main{ width: 100%;margin: 0;padding: 0;}   
.slider{width: 100%;margin: 3rem 0;height: 18rem;}
.flip-box {	height: 15rem;margin: 1.3rem 0;}
#login-box {position: relative;margin: 5% auto;width: 100%;height: 50rem;background: #FFF;border-radius: .2rem;box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.4);}
.box,.flex-container{margin: 0;padding: 0;}
#box .btn{ margin-right: 17rem;}
h1,h5, p {max-width: 30rem;}
.card{margin:1.6rem 0;}
.list li .valign-wrapper large{width:8rem;height:8rem}
.cardbox{width: 100%;margin: 0;padding: 0;background: white;height: auto;} 
.base {width: 100%;margin: 6.7rem 0 0 0;padding: 0;}
.container {width: 100%;padding: 1rem;}
.carousel .carousel-item {width: 100%;}
	.column {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.pard {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		text-align: center;
		background-color: #444;
		color: white;
	}

/*Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html, body, main {
		width: 100%;
		margin: 0;
		padding: 0;
	}   
	header, main, footer {
		padding-left: 0;
	}

	.slider {
		width: 100%;
		margin: 3rem 0;
		height: 18rem;
	}

	.box, .flex-container {
		margin: 0;
		padding: 0;
	}

	.flip-box {
		height: 13rem;
		margin: 2rem 0;
	}
	
}

/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (max-width: 768px){
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main {
		margin: 7.1rem auto;
		width: 95rem;
	}
	.flex-container {
		margin: 9rem auto;
		padding: 3rem 0;
	}
	.flip-box {
		height: 25rem;
		padding:1.6rem;
	}
	
} 
/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
	main {
		margin: 7.1rem auto;
		width: 95rem;
	}
	}

